* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background: #ffffff;
}

.container {
  width: 1350px;
  height: 800px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  left: 140px;
}

header {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
  color: var(--Black, #212121);
  margin-right: 15px;
}

.logo {
  margin-left: 101px;
  margin-right: 91px;
  display: flex;
  width: 201px;
  height: 40px;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  height: 100%;
}

.firstscr_basket {
  margin-left: 135px;
}

.first-screen {
  top: 205px;
  width: 570px;
  height: 224px;
  background-color: #ffffff;
  flex-shrink: 0;
  position: absolute;
}

.first-screen-text {
  text-align: left;
}

.first-screen-text1 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.first-screen-text2 {
  color: #000;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.2px;
  margin-bottom: 55px;
  margin-top: 35px;
}

.view-models-button {
  display: ruby;
  padding: 20px 30px;
  background-color: #D7B399;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.img-runningshoes {
  margin-left: 100px;
  margin-top: 215px;
  display: flex;
  justify-content: flex-end;
  width: 556px;
}
.img-runningshoes img {
  left: 445px;
  position: relative;
}

.prices {
  margin-top: 30px;
  position: absolute;
  left: 935px;
}

.old_cost {
  color: #000;
  margin-bottom: 15px;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new_cost {
  color: #D84033;
  text-align: right;
  margin-top: -12px;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.slider {
  position: absolute;
  bottom: 70px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 2;
}

.container2 {
  background-color: #212121;
  width: 1350px;
  height: 215px;
  flex-shrink: 0;
  text-align: center;
}

.centertext {
  position: relative;
  top: 60px;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.centertextsmall {
  position: relative;
  top: 110px;
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bold-text {
  font-weight: bold;
}

.rectangles {
  left: 180px;
  display: flex;
  width: 1350px;
}

.rectangle1 {
  flex: 1;
  width: 675px;
  height: 250px;
  flex-shrink: 0;
  background-color: #F9F6F1;
  position: relative;
}

.rectangle2 {
  flex: 1;
  width: 675px;
  height: 250px;
  flex-shrink: 0;
  background-color: #F4F4F4;
  position: relative;
}

.mencollection {
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  left: 180px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

.mentext {
  position: relative;
  left: 180px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.manphoto {
  position: absolute;
  bottom: 0;
  height: 171px;
  left: 485px;
}

.womencollection {
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
  left: 36px;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

.womantext {
  position: relative;
  left: 36px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.womanphoto {
  height: 171px;
  position: absolute;
  bottom: 0;
  left: 325px;
}

.rectangle {
  position: relative;
  width: 1000px;
  height: 460px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  left: 180px;
}

.square {
  position: relative;
  width: 250px;
  height: 230px;
  background-color: #007bff;
}
.square img {
  width: 100%;
  height: 100%;
}
.square .textshirt {
  position: absolute;
  top: 186px;
  left: 30px;
  color: #000;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.63px;
  background-color: rgba(255, 255, 255, 0.7);
}

.newmodels {
  width: 1000px;
  height: 649px;
  top: 150px;
  left: 180px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newmodels .models-title {
  height: 44px;
  color: var(--Black, #212121);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 103px;
}
.newmodels .cards-container {
  display: flex;
  gap: 15px;
}
.newmodels .cards-container .newitem_cards {
  background: linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399), linear-gradient(0, #D7B399, #D7B399);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0, 100% 100%, 100% 100%, 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 20px 3px, 3px 20px;
  padding: 15px;
  text-align: center;
  width: 230px;
  height: 350px;
  position: relative;
}
.newmodels .cards-container .newitem_cards img {
  top: 25px;
  position: relative;
  left: 25px;
  width: 205px;
  height: 211px;
}
.newmodels .cards-container .newitem_cards .itemtext {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 258px;
  right: 0;
  left: 0;
}
.newmodels .cards-container .newitem_cards .price {
  color: var(--Accent, #D7B399);
  position: relative;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: 70px;
  right: 0;
  left: 0;
}
.newmodels .buttonall {
  position: absolute;
  bottom: 0;
  left: 39%;
  width: 220px;
  line-height: 55px;
  text-align: center;
  background-color: #D7B399;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.sales {
  top: 300px;
  width: 1350px;
  height: 180px;
  position: relative;
  display: flex;
  background-color: #212121;
  align-items: center;
  justify-content: space-between;
}
.sales .getsale {
  position: relative;
  left: 180px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.sales input {
  position: relative;
  left: 100px;
  width: 255px;
  height: 40px;
  flex-shrink: 0;
}
.sales .subscribe {
  margin-right: 180px;
  width: 185px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  flex-shrink: 0;
  background: var(--Accent, #D7B399);
}
.empty {
  position: relative;
  height: 300px;
}/*# sourceMappingURL=style.css.map */